<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is an Inline Message
  </span>
  <div>
    <a href="#" class="wee-inline-message">
      <span>Alexander (1893–1920) was King of Greece from 11 June 1917</span>
    </a>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <a href="#" class="wee-inline-message">
        <span>Inline Message</span>
      </a>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Inline Message Types
  </span>
  <div class="separator">
    <a href="#" class="wee-inline-message wee-inline-message--default">
      <span>This is a Default Inline Message</span>
    </a>
    <a href="#" class="wee-inline-message wee-inline-message--safe">
      <span>This is a Safe Inline Message</span>
    </a>
    <a href="#" class="wee-inline-message wee-inline-message--warning">
      <span>This is a Warning Inline Message</span>
    </a>
    <a href="#" class="wee-inline-message wee-inline-message--danger">
      <span>This is a Danger Inline Message</span>
    </a>
    <a href="#" class="wee-inline-message wee-inline-message--info">
      <span>This is an Info Inline Message</span>
    </a>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Inline Message Types can be changed using following classes: <br>
      <strong>wee-inline-message--default</strong><br>
      <strong>wee-inline-message--safe</strong><br>
      <strong>wee-inline-message--warning</strong><br>
      <strong>wee-inline-message--danger</strong><br>
      <strong>wee-inline-message--info</strong><br>
    </span>
  </div>
</div>
