<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Select
  </span>
  <div style="max-width: 300px;">
    <label class="wee-select">
      <select></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp style="white-space: pre-wrap;">
      <label class="wee-select">
        <select></select>
        <div class="select">
          <span class="select-selection"><span class="select-placeholder">Select</span></span>
          <ul class="select-list">
            <li>Ham Burger</li>
            <li>Pancakes</li>
            <li>Hot Doggs</li>
          </ul>
        </div>
      </label>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Select States
  </span>
  <div class="separator">
    <label class="wee-select wee-select--disable">
      <select disabled></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="separator">
    <label class="wee-select wee-select--warning">
      <select></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="separator">
    <label class="wee-select wee-select--danger">
      <select></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Select states can be changed using following classes: <br>
      <strong>wee-select--disable</strong><br>
      <strong>wee-select--warning</strong><br>
      <strong>wee-select--danger</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Select Sizes
  </span>
  <div class="separator">
    <label class="wee-select wee-select--large">
      <select></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="separator">
    <label class="wee-select wee-select">
      <select></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="separator">
    <label class="wee-select wee-select--small">
      <select></select>
      <div class="select">
        <span class="select-selection"><span class="select-placeholder">Select Food Item</span></span>
        <ul class="select-list">
          <li>Ham Burger</li>
          <li>Pancakes</li>
          <li>Hot Doggs</li>
        </ul>
      </div>
    </label>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Select sizes can be changed using following classes: <br>
      <strong>wee-select--large</strong><br>
      <strong>wee-select--small</strong>
    </span>
  </div>
</div>

