<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Badge
  </span>
  <div>
    <span class="wee-badge">
      11
    </span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <span class="wee-badge">
        11
      </span>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Badge Types
  </span>
  <div class="separator">
    <span class="wee-badge wee-badge--default">5</span>
    <span class="wee-badge wee-badge--primary">7</span>
    <span class="wee-badge wee-badge--important">10</span>
    <span class="wee-badge wee-badge--added">99+</span>
    <span class="wee-badge wee-badge--removed">0</span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Badge types can be changed using following classes: <br>
      <strong>wee-badge--default</strong><br>
      <strong>wee-badge--primary</strong><br>
      <strong>wee-badge--important</strong><br>
      <strong>wee-badge--added</strong><br>
      <strong>wee-badge--removed</strong>
    </span>
  </div>
</div>
