<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Banner
  </span>
  <div class="wee-banner">
    <span>Just a Banner</span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <div class="wee-banner">
        <span>Just a Banner</span>
      </div>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Banner Types
  </span>
  <div class="separator">
    <div class="wee-banner wee-banner--warning">
      <span>This is a warning banner</span>
    </div>
    <div class="wee-banner wee-banner--danger">
      <span>This is a danger banner</span>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Callout types can be changed using following classes: <br>
      <strong>wee-banner--warning</strong><br>
      <strong>wee-banner--danger</strong><br>
    </span>
  </div>
</div>
