<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Toggle
  </span>
  <label class="wee-toggle">
    <input type="checkbox" name="name"/>
    <span></span>
  </label>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <label class="wee-toggle"> <input type="checkbox" name="name"/> <span></span> </label>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Toggle States
  </span>
  <div class="separator">
    <label class="wee-toggle wee-toggle--disable">
      <input type="checkbox" name="fdsf" disabled />
      <span></span>
    </label>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Toggle state can be changed using following class: <br>
      <strong>wee-toggle--disable</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Toggle Sizes
  </span>
  <div class="separator">
    <div>
      <label class="wee-toggle wee-toggle--large">
        <input type="checkbox" name="name"/>
        <span></span>
      </label>
    </div>
    <div>
      <label class="wee-toggle wee-toggle">
        <input type="checkbox" name="name"/>
        <span></span>
      </label>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Toggle sizes can be changed using following class: <br>
      <strong>wee-toggle--large</strong>
    </span>
  </div>
</div>
