.components-holder {
  flex: 1;
  height: 100%;
  overflow: auto;

  .component-sub-holder {
    display: none;
    padding: 55px;

    &.show {
      display: block;
    }

    .wee-heading {
      display: block;
      padding-bottom: 6px;
    }
  }

  section {
    margin: 0 auto;
    max-width: 800px;
  }

  .head-section {
    margin-bottom: 1rem;

    h1 {
      padding-bottom: 10px;
    }
  }

  .component-usage {
    background-color: #fdfdfd;
    border-radius: 3px;
    margin: 2rem 0;
    padding: 1rem 8px;

    .usage-heading {
      margin: 0;
    }

    xmp {
      background-color: rgb(244, 245, 247);
      border-radius: 5px;
      display: block;
      font-size: 14px;
      line-height: 1.4rem;
      margin: 0;
      padding: .5rem;
      white-space: normal;
    }
  }

  .component-variations {
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    padding: 1rem;

    &:first-child {
      box-shadow: none;
      margin-bottom: 2rem;
      padding: 1rem 0;
    }

    p {
      margin-bottom: .5rem;
    }

    .separator {
      margin-bottom: 20px;
    }
  }

  .wee-text {
    width: 200px;
  }
}
