$wee-breadcrumbs-text-color: $aui-n300;

.wee-breadcrumbs {
  color: $wee-breadcrumbs-text-color;
  display: block;
  font-size: px(14);
  margin: $wee-grid-base-size-1 0;

  ul {
    display: block;
  }

  li {
    display: inline-block;

    &:first-child {
      a {
        &::before {
          display: none;
        }
      }
    }
  }

  a {
    cursor: pointer;
    display: block;
    text-decoration-skip: ink;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '/';
      display: inline-block;
      margin-right: $wee-grid-base-size-half;
      text-align: center;
      width: $wee-grid-base-size-2;
    }
  }

  &--large {
    font-size: px(17);

    a {
      &::before {
        margin-right: $wee-grid-base-size-1;
        width: $wee-grid-base-size-3;
      }
    }
  }

  &--small {
    font-size: px(13);
  }
}
