<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Lozenge
  </span>
  <div>
    <span class="wee-lozenge">
      <span>Lozenge</span>
    </span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <span class="wee-lozenge">
        <span>Lozenge</span>
      </span>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Subtle Lozenge
  </span>
  <div class="separator">
    <span class="wee-lozenge wee-lozenge--default">
      <span>Default</span>
    </span>
    <span class="wee-lozenge wee-lozenge--safe">
      <span>Safe</span>
    </span>
    <span class="wee-lozenge wee-lozenge--warning">
      <span>Warning</span>
    </span>
    <span class="wee-lozenge wee-lozenge--danger">
      <span>Danger</span>
    </span>
    <span class="wee-lozenge wee-lozenge--info">
      <span>Info</span>
    </span>
    <span class="wee-lozenge wee-lozenge--new">
      <span>New</span>
    </span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Subtle Lozenge can be added using following classes: <br>
      <strong>wee-lozenge--default</strong><br>
      <strong>wee-lozenge--safe</strong><br>
      <strong>wee-lozenge--warning</strong><br>
      <strong>wee-lozenge--danger</strong><br>
      <strong>wee-lozenge--info</strong><br>
      <strong>wee-lozenge--new</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Bold Lozenge
  </span>
  <div class="separator">
    <span class="wee-lozenge wee-lozenge--bold--default">
      <span>Default</span>
    </span>
    <span class="wee-lozenge wee-lozenge--bold--safe">
      <span>Safe</span>
    </span>
    <span class="wee-lozenge wee-lozenge--bold--warning">
      <span>Warning</span>
    </span>
    <span class="wee-lozenge wee-lozenge--bold--danger">
      <span>Danger</span>
    </span>
    <span class="wee-lozenge wee-lozenge--bold--info">
      <span>Info</span>
    </span>
    <span class="wee-lozenge wee-lozenge--bold--new">
      <span>New</span>
    </span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Bold Lozenge can be added using following classes: <br>
      <strong>wee-lozenge--bold-default</strong><br>
      <strong>wee-lozenge--bold-safe</strong><br>
      <strong>wee-lozenge--bold-warning</strong><br>
      <strong>wee-lozenge--bold-danger</strong><br>
      <strong>wee-lozenge--bold-info</strong><br>
      <strong>wee-lozenge--bold-new</strong><br>
    </span>
  </div>
</div>
