<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= cssPath %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700,800,900" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/svg-holder %>
    <div id="wrapper" class="wrapper">
    </div>
    <script src="<%= jsPath %>"></script>
  </body>
</html>
