<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Checkbox
  </span>
  <label class="wee-checkbox">
    <input type="checkbox" name="name"/>
    <span>Checkbox</span>
  </label>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <label class="wee-checkbox"> <input type="checkbox" name="name"/> <span>Checkbox</span> </label>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Checkbox States
  </span>
  <div class="separator">
    <label class="wee-checkbox wee-checkbox--disable">
      <input type="checkbox" name="fdsf" disabled />
      <span>Checkbox</span>
    </label>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Checkbox state can be changed using following class: <br>
      <strong>wee-checkbox--disable</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Checkbox Sizes
  </span>
  <div class="separator">
    <div>
      <label class="wee-checkbox wee-checkbox--large">
        <input type="checkbox" name="name"/>
        <span>Large</span>
      </label>
    </div>
    <div>
      <label class="wee-checkbox">
        <input type="checkbox" name="name" checked />
        <span>Normal</span>
      </label>
    </div>
    <div>
      <label class="wee-checkbox wee-checkbox--small">
        <input type="checkbox" name="name"/>
        <span>Small</span>
      </label>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Checkbox size can be changed using following class: <br>
      <strong>wee-checkbox--large</strong><br>
      <strong>wee-checkbox--small</strong>
    </span>
  </div>
</div>
