<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Spinner
  </span>
  <div>
    <span class="wee-spinner"></span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <span class="wee-spinner"></span>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Light Spinner
  </span>
  <span class="wee-heading wee-heading--h300">
    * background color is only for the display purpose
  </span>
  <div class="separator">
    <div style="background-color:#42526e; width:40px; text-align: center;">
      <span class="wee-spinner wee-spinner--light"></span>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a Light Spinner: <br>
      <strong>wee-spinner--light</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Spinner sizes
  </span>
  <div class="separator">
    <span class="wee-spinner wee-spinner--xlarge"></span>
    <span class="wee-spinner wee-spinner--large"></span>
    <span class="wee-spinner"></span>
    <span class="wee-spinner wee-spinner--small"></span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Spinner sizes can be changed using following classes: <br>
      <strong>wee-spinner--xlarge</strong><br>
      <strong>wee-spinner--large</strong><br>
      <strong>wee-spinner--small</strong>
    </span>
  </div>
</div>
