<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Grid Basic</p>
    </div>
  </div>
  <div class="wee-row">
    <div class="wee-col">
      <div class="col-content">wee-col</div>
    </div>
    <div class="wee-col wee-col--10">
      <div class="col-content">wee-col, wee-col--10</div>
    </div>
    <div class="wee-col wee-col--6">
      <div class="col-content">wee-col, wee-col--6</div>
    </div>
    <div class="wee-col wee-col--6">
      <div class="col-content">wee-col, wee-col--6</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">wee-col, wee-col--4</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">wee-col, wee-col--4</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">wee-col, wee-col--4</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="component-usage">
        <p class="wee-heading wee-heading--h400 usage-heading">
          Usage
        </p>
<xmp style="white-space: pre-wrap;"><div class="wee-row">
  <div class="wee-col">
  </div>
  <div class="wee-col wee-col--10">
  </div>
</div></xmp>
      </div>
    </div>
  </div>
</div>
<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Column Offset</p>
    </div>
  </div>
  <div class="wee-row">
    <div class="wee-col wee-col--2 wee-col--offset-right-10">
      <div class="col-content">col--2</div>
    </div>
    <div class="wee-col wee-col--10 wee-col--2 wee-col--offset-left-2">
      <div class="col-content">col--10, col--offset-left-2</div>
    </div>
    <div class="wee-col wee-col--4 wee-col--offset-right-4 wee-col--no-gutters">
      <div class="col-content">col--4, col--offset-right-4</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">col--4</div>
    </div>
    <div class="wee-col wee-col--1 wee-col--offset-right-1 wee-col--no-gutters">
      <div class="col-content">col--1</div>
    </div>
    <div class="wee-col wee-col--1 wee-col--offset-right-1 wee-col--no-gutters">
      <div class="col-content">col--1</div>
    </div>
    <div class="wee-col wee-col--1 wee-col--offset-right-1 wee-col--no-gutters">
      <div class="col-content">col--1</div>
    </div>
    <div class="wee-col wee-col--1 wee-col--offset-right-1 wee-col--no-gutters">
      <div class="col-content">col--1</div>
    </div>
    <div class="wee-col wee-col--1 wee-col--offset-right-1 wee-col--no-gutters">
      <div class="col-content">col--1</div>
    </div>
    <div class="wee-col wee-col--1 wee-col--offset-right-1 wee-col--no-gutters">
      <div class="col-content">col--1</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="wee-callout wee-callout--default">
      <span>
        Offset classes: <br>
        <strong>wee-col--offset-left-0</strong><br>
        <strong>wee-col--offset-left-12</strong><br>
        <strong>wee-col--offset-left-auto</strong><br>
        <strong>wee-col--offset-right-0</strong><br>
        <strong>wee-col--offset-right-12</strong><br>
        <strong>wee-col--offset-right-auto</strong>
      </span>
    </div>
    </div>
  </div>
</div>
<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Row Justify (Horizontal Placement)</p>
    </div>
  </div>
  <div class="wee-row wee-row--justify-start">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--justify-center">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--justify-end">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--justify-around">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--justify-between">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="wee-callout wee-callout--default">
      <span>
        List of justify classes: <br>
        <strong>wee-row--justify-start</strong><br>
        <strong>wee-row--justify-center</strong><br>
        <strong>wee-row--justify-end</strong><br>
        <strong>wee-row--justify-around</strong><br>
        <strong>wee-row--justify-between</strong>
      </span>
    </div>
    </div>
  </div>
</div>
<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Row Align (Vertical Placement)</p>
    </div>
  </div>
  <div class="wee-row wee-row--align-start" style="height: 96px;">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--align-center" style="height: 96px;">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--align-end" style="height: 96px;">
    <div class="wee-col wee-col--2">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--2">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="wee-callout wee-callout--default">
      <span>
        List of align classes: <br>
        <strong>wee-row--align-start</strong><br>
        <strong>wee-row--align-center</strong><br>
        <strong>wee-row--align-end</strong><br>
      </span>
    </div>
    </div>
  </div>
</div>
<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Column Align (Self Vertical Placement)</p>
    </div>
  </div>
  <div class="wee-row" style="height: 96px;">
    <div class="wee-col wee-col--align-start wee-col--4">
      <div class="col-content">Start</div>
    </div>
    <div class="wee-col wee-col--align-center wee-col--4">
      <div class="col-content">Center</div>
    </div>
    <div class="wee-col wee-col--align-end wee-col--4">
      <div class="col-content">End</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="wee-callout wee-callout--default">
      <span>
        List of Column Align classes: <br>
        <strong>wee-col--align-start</strong><br>
        <strong>wee-col--align-center</strong><br>
        <strong>wee-col--align-end</strong>
      </span>
    </div>
    </div>
  </div>
</div>
<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Reverse (reorder columns in reverse order)</p>
    </div>
  </div>
  <div class="wee-row">
    <div class="wee-col wee-col--4">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row wee-row--reverse">
    <div class="wee-col wee-col--4">
      <div class="col-content">1</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">2</div>
    </div>
    <div class="wee-col wee-col--4">
      <div class="col-content">3</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="wee-callout wee-callout--default">
      <span>
        Reverse a row using following class: <br>
        <strong>wee-row--reverse</strong><br>
      </span>
    </div>
    </div>
  </div>
</div>
<div class="component-variations grid-styles">
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <p class="wee-heading wee-heading--h600">Breakpoints</p>
    </div>
  </div>
  <div class="wee-row">
    <div class="wee-col wee-col--12 wee-col--sm-6 wee-col--lg-4 wee-col--no-gutters">
      <div class="col-content">wee-col--sm-6, wee-col--lg-4</div>
    </div>
    <div class="wee-col wee-col--12 wee-col--sm-6 wee-col--lg-3 wee-col--lg-offset-left-auto wee-col--lg-offset-right-auto wee-col--no-gutters">
      <div class="col-content">wee-col--lg-3</div>
    </div>
    <div class="wee-col wee-col--12 wee-col--lg-4 wee-col--xl-2 wee-col--no-gutters">
      <div class="col-content">wee-col--xl-2</div>
    </div>
  </div>
  <div class="wee-row no-style">
    <div class="wee-col no-style wee-col--no-gutters">
      <div class="wee-callout wee-callout--default">
      <span>
        Breakpoint Prefixes: <br>
        <table  width="100%;">
          <tbody>
            <tr>
              <th>Min Width</th>
              <th>Col Sizes</th>
              <th>Col Offset</th>
            </tr>
            <tr>
              <td>
                <span class="wee-lozenge wee-lozenge--info">
                  <span>576px</span>
                </span>
              </td>
              <td>
                <strong>wee-col--sm-*</strong><br>
                (e.g.
                wee-col--sm-6)
              </td>
              <td>
                <strong>wee-col--sm-offset-left-*</strong><br>
                (e.g.
                wee-col--sm-offset-left-6,<br>
                wee-col--sm-offset-right-6)
              </td>
            </tr>
            <tr>
              <td>
                <span class="wee-lozenge wee-lozenge--info">
                  <span>768px</span>
                </span>
              </td>
              <td>
                <strong>wee-col--md-*</strong><br>
                (e.g.
                wee-col--md-4)
              </td>
              <td>
                <strong>wee-col--md-offset-left-*</strong><br>
                (e.g.
                wee-col--md-offset-left-7)
              </td>
            </tr>
            <tr>
              <td>
                <span class="wee-lozenge wee-lozenge--info">
                  <span>992px</span>
                </span>
              </td>
              <td>
                <strong>wee-col--lg-*</strong><br>
                (e.g.
                wee-col--lg-4)
              </td>
              <td>
                <strong>wee-col--lg-offset-left-*</strong><br>
                (e.g.
                wee-col--lg-offset-left-7)
              </td>
            </tr>
             <tr>
              <td>
                <span class="wee-lozenge wee-lozenge--info">
                  <span>1200px</span>
                </span>
              </td>
              <td>
                <strong>wee-col--xl-*</strong><br>
                (e.g.
                wee-col--xl-4)
              </td>
              <td>
                <strong>wee-col--xl-offset-left-*</strong><br>
                (e.g.
                wee-col--xl-offset-left-7)
              </td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
    </div>
  </div>
</div>

