<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Breadcrumbs
  </span>
  <div class="wee-breadcrumbs">
    <ul>
      <li><a href="#">Root</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Music</a></li>
      <li><a href="#">Instrumental</a></li>
    </ul>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp style="white-space: pre-wrap;">
      <div class="wee-breadcrumbs">
        <ul>
          <li><a href="#">Root</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">Instrumental</a></li>
        </ul>
      </div>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Breadcrumbs Sizes
  </span>
  <div class="separator">
    <div class="wee-breadcrumbs wee-breadcrumbs--large">
      <ul>
        <li><a href="#">Large</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Instrumental</a></li>
      </ul>
    </div>
  </div>
  <div class="separator">
    <div class="wee-breadcrumbs">
      <ul>
        <li><a href="#">Normal</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Instrumental</a></li>
      </ul>
    </div>
  </div>
  <div class="separator">
    <div class="wee-breadcrumbs wee-breadcrumbs--small">
      <ul>
        <li><a href="#">Small</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Instrumental</a></li>
      </ul>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Breadcrumbs sizes can be changed using following classes: <br>
      <strong>wee-breadcrumbs--large</strong><br>
      <strong>wee-breadcrumbs--small</strong>
    </span>
  </div>
</div>
