<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is an Avatar
  </span>
  <div>
    <span class="wee-avatar"></span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <span class="wee-avatar"></span>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Avatar Presence
  </span>
  <div class="separator">
    <span class="wee-avatar wee-avatar--presence-online"></span>
    <span class="wee-avatar wee-avatar--presence-busy"></span>
    <span class="wee-avatar wee-avatar--presence-offline"></span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Avatar Presence can be changed using following classes: <br>
      <strong>wee-avatar--presence-online</strong><br>
      <strong>wee-avatar--presence-busy</strong><br>
      <strong>wee-avatar--presence-offline</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Avatar sizes
  </span>
  <div class="separator">
    <span class="wee-avatar wee-avatar--xlarge"></span>
    <span class="wee-avatar wee-avatar--large"></span>
    <span class="wee-avatar wee-avatar"></span>
    <span class="wee-avatar wee-avatar--small"></span>
    <span class="wee-avatar wee-avatar--xsmall"></span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Avatar sizes can be changed using following classes: <br>
      <strong>wee-avatar--xlarge</strong><br>
      <strong>wee-avatar--large</strong><br>
      <strong>wee-avatar--small</strong><br>
      <strong>wee-avatar--xsmall</strong>
    </span>
  </div>
</div>



<div class="component-variations">
  <span class="wee-heading wee-heading--h300">
    Avatar in action
  </span>
  <div>
    <span class="wee-avatar wee-avatar--large wee-avatar--presence-online" style="background-image:url('https://robohash.org/yo')"></span>
    <span class="wee-avatar wee-avatar--presence-busy" style="background-image:url('https://robohash.org/no')"></span>
    <span class="wee-avatar wee-avatar--presence-offline" style="background-image:url('https://robohash.org/jim')"></span>
  </div>
</div>
