<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Radio Group
  </span>
  <div>
    <label class="wee-radio">
      <input type="radio" name="name1" checked />
      <span>Radio1</span>
    </label>
  </div>
  <div>
    <label class="wee-radio">
      <input type="radio" name="name1" />
      <span>Radio2</span>
    </label>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <label class="wee-radio"> <input type="radio" name="name"/> <span>Radio</span> </label>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Radio States
  </span>
  <div class="separator">
    <label class="wee-radio wee-radio--disable">
      <input type="radio" name="fdsf" disabled />
      <span>Radio</span>
    </label>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Radio state can be changed using following class: <br>
      <strong>wee-radio--disable</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Radio Sizes
  </span>
  <div class="separator">
    <div>
      <label class="wee-radio wee-radio--large">
        <input type="radio" name="name3"/>
        <span>Large</span>
      </label>
    </div>
    <div>
      <label class="wee-radio">
        <input type="radio" name="name3" checked />
        <span>Normal</span>
      </label>
    </div>
    <div>
      <label class="wee-radio wee-radio--small">
        <input type="radio" name="name3"/>
        <span>Small</span>
      </label>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Radio size can be changed using following class: <br>
      <strong>wee-radio--large</strong><br>
      <strong>wee-radio--small</strong>
    </span>
  </div>
</div>
