<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Tag
  </span>
  <div>
    <span class="wee-tag">
      <span>Tag Element</span>
    </span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <span class="wee-tag">
        <span>Tag</span>
      </span>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Link Tag
  </span>
  <div class="separator">
    <span class="wee-tag wee-tag--link">
      <span><a href="#">Tag Element</a></span>
    </span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a Link Tag: <br>
      <strong>wee-tag--link</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Rounded Tag
  </span>
  <div class="separator">
    <span class="wee-tag wee-tag--rounded">
      <span>Tag Element</span>
    </span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a Rounded Tag: <br>
      <strong>wee-tag--rounded</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Removeable Tag
  </span>
  <div class="separator">
    <span class="wee-tag wee-tag--remove">
      <span>Tag Element</span>
    </span>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a Removeable Tag: <br>
      <strong>wee-tag--remove</strong><br>
    </span>
  </div>
</div>
