<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a regular button
  </span>
  <a href="#" class="wee-button">Button</a>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <a href="#" class="wee-button">Button</a>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Buttons types (solid)
  </span>
  <div class="separator">
    <a href="#" class="wee-button wee-button--default">Default</a>
    <a href="#" class="wee-button wee-button--primary">Primary</a>
    <a href="#" class="wee-button wee-button--safe">Safe</a>
    <a href="#" class="wee-button wee-button--warning">Warning</a>
    <a href="#" class="wee-button wee-button--danger">Danger</a>
    <a href="#" class="wee-button wee-button--disable">Disable</a>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Solid Button types can be changed using following classes: <br>
      <strong>wee-button--default</strong><br>
      <strong>wee-button--primary</strong><br>
      <strong>wee-button--safe</strong><br>
      <strong>wee-button--warning</strong><br>
      <strong>wee-button--danger</strong><br>
      <strong>wee-button--disable</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Button Sizes
  </span>
  <div class="separator">
    <a href="#" class="wee-button wee-button--large wee-button--primary">Large</a>
    <a href="#" class="wee-button wee-button--primary">Normal</a>
    <a href="#" class="wee-button wee-button--small wee-button--primary">Small</a>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Button size can be changed using following classes: <br>
      <strong>wee-button--large</strong><br>
      <strong>wee-button--small</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Subtle Button
  </span>
  <div class="separator">
    <a href="#" class="wee-button wee-button--subtle">Subtle</a>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
     Use following class to add a Subtle Button: <br>
      <strong>wee-button--subtle</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a link
  </span>
  <div class="separator">
    <a href="#" class="wee-button wee-button--link">Link</a>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a link: <br>
      <strong>wee-button--link</strong><br>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h300">
    This is a Subtle link
  </span>
  <div class="separator">
    <a href="#" class="wee-button wee-button--subtle-link">Subtle Link</a>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a link: <br>
      <strong>wee-button--subtle-link</strong><br>
    </span>
  </div>
</div>

