<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Callout
  </span>
  <div class="wee-callout">
    <span>Alexander (1893–1920) was King of Greece from 11 June 1917 until his death at the age of 27. He succeeded his father, King Constantine I, in 1917</span>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <div class="wee-callout">
        <span>Callout</span>
      </div>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Callout Types
  </span>
  <div class="separator">
    <div class="wee-callout wee-callout--default">
      <span>This is a Default Callout</span>
    </div>
    <div class="wee-callout wee-callout--subtle">
      <span>This is a Subtle Callout</span>
    </div>
    <div class="wee-callout wee-callout--safe">
      <span>This is a Safe Callout</span>
    </div>
    <div class="wee-callout wee-callout--warning">
      <span>This is a Warning Callout</span>
    </div>
    <div class="wee-callout wee-callout--danger">
      <span>This is a Danger Callout</span>
    </div>
    <div class="wee-callout wee-callout--info">
      <span>This is a Info Callout</span>
    </div>
    <div class="wee-callout wee-callout--new">
      <span>This is a New Callout</span>
    </div>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Callout types can be changed using following classes: <br>
      <strong>wee-callout--default</strong><br>
      <strong>wee-callout--subtle</strong><br>
      <strong>wee-callout--safe</strong><br>
      <strong>wee-callout--warning</strong><br>
      <strong>wee-callout--danger</strong><br>
      <strong>wee-callout--info</strong><br>
      <strong>wee-callout--new</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Callout in Action
  </span>
  <div class="wee-callout wee-callout--safe">
    <span>Alexander (1893–1920) was King of Greece from 11 June 1917 until his death at the age of 27. He succeeded his father, King Constantine I, in 1917</span>
  </div>
</div>
