<div class="component-variations">
  <p class="wee-heading wee-heading--h500">
    This is a regular textbox
  </p>
  <input type="text" name="name" class="wee-text" placeholder="Textbox" />
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <input type="text" name="name" class="wee-text" placeholder="Textbox" />
    </xmp>
  </div>
</div>
<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Textbox Sizes
  </span>
  <div class="separator">
    <input type="text" name="name" class="wee-text wee-text--large" placeholder="Textbox" />
  </div>
  <div class="separator">
    <input type="text" name="name" class="wee-text wee-text" placeholder="Textbox" />
  </div>
  <div class="separator">
    <input type="text" name="name" class="wee-text wee-text--small" placeholder="Textbox" />
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Textbox size can be changed using following classes: <br>
      <strong>wee-text--large</strong><br>
      <strong>wee-text--small</strong>
    </span>
  </div>
</div>
<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Textbox States
  </span>
  <div class="separator">
    <input type="text" name="name" class="wee-text wee-text--disable" placeholder="Textbox" disabled />
  </div>
  <div class="separator">
    <input type="text" name="name" class="wee-text wee-text--warning" placeholder="Textbox" />
  </div>
  <div class="separator">
    <input type="text" name="name" class="wee-text wee-text--danger" placeholder="Textbox" />
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Textbox states can be changed using following classes: <br>
      <strong>wee-text--disable</strong><br>
      <strong>wee-text--warning</strong><br>
      <strong>wee-text--danger</strong>
    </span>
  </div>
</div>
<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a textarea
  </span>
  <textarea class="wee-text wee-text--small" placeholder="Textbox">
    
  </textarea>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <textarea class="wee-text wee-text--small" placeholder="Textbox"></textarea>
    </xmp>
  </div>
</div>

