<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    These are Tabs
  </span>
  <div class="wee-tab">
    <ul class="tab-list">
      <li><a href="#tab-uno" class="active">Uno</a></li>
      <li><a href="#tab-dos">Dos</a></li>
      <li><a href="#tab-tre">Tre</a></li>
    </ul>
  </div>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp style="white-space: pre-wrap;">
      <div class="wee-tab">
        <ul class="tab-list">
          <li><a href="#tab-uno" class="active">Uno</a></li>
          <li><a href="#tab-dos">Dos</a></li>
          <li><a href="#tab-tre">Tre</a></li>
        </ul>
      </div>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
   Tabs in action
  </span>
  <div class="wee-tab" data-id="wee-tab-action">
    <ul class="tab-list">
      <li><a href="#tab2-uno" class="active">Uno</a></li>
      <li><a href="#tab2-dos">Dos</a></li>
      <li><a href="#tab2-tre">Tre</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab2-uno">
        <div class="wee-callout wee-callout--safe">
          Alexander (1893–1920) was King of Greece from 11 June 1917 until his death at the age of 27.
        </div>
      </div>
      <div id="tab2-dos" style="display: none;">
        <div class="wee-callout wee-callout--warning">
          He succeeded his father,
        </div>
      </div>
      <div id="tab2-tre" style="display: none;">
        <div class="wee-callout wee-callout--info">
           King Constantine I, in 1917
        </div>
      </div>
    </div>
  </div>
</div>
