<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This is a Heading
  </span>
  <p class="wee-heading">
    Alexander (1893–1920) was King of Greece from 11 June 1917
  </p>
  <div class="component-usage">
    <p class="wee-heading wee-heading--h400 usage-heading">
      Usage
    </p>
    <xmp>
      <p class="wee-heading">
        Heading
      </p>
    </xmp>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    Heading Types
  </span>
  <div class="separator">
    <p class="wee-heading wee-heading--h900">
      Heading 900
    </p>
    <p class="wee-heading wee-heading--h800">
      Heading 800
    </p>
    <p class="wee-heading wee-heading--h700">
      Heading 700
    </p>
    <p class="wee-heading wee-heading--h600">
      Heading 600
    </p>
    <p class="wee-heading wee-heading--h500">
      Heading 500
    </p>
    <p class="wee-heading wee-heading--h400">
      Heading 400
    </p>
    <p class="wee-heading wee-heading--h300">
      Heading 300
    </p>
    <p class="wee-heading wee-heading--h200">
      Heading 200
    </p>
    <p class="wee-heading wee-heading--h100">
      Heading 100
    </p>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Heading types can be changed using following classes: <br>
      <strong>wee-heading--h900</strong><br>
      <strong>wee-heading--h800</strong><br>
      <strong>wee-heading--h700</strong><br>
      <strong>wee-heading--h600</strong><br>
      <strong>wee-heading--h500</strong><br>
      <strong>wee-heading--h400</strong><br>
      <strong>wee-heading--h300</strong><br>
      <strong>wee-heading--h200</strong><br>
      <strong>wee-heading--h100</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This ia a Paragraph
  </span>
  <div class="separator">
    <p class="wee-heading wee-heading--paragraph">
      Alexander was born at Tatoi Palace on 1 August 1893 (20 July in the Julian calendar), the second son of Crown Prince Constantine of Greece of the House of Glücksburg and his wife Princess Sophia of Prussia. He was related to royalty throughout Europe. His father was the eldest son and heir apparent of King George I of Greece by his wife Grand Duchess Olga Constantinovna of Russia; his mother was the daughter of Emperor Frederick III of Germany and his wife Victoria, Princess Royal of the United Kingdom.
    </p>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a Paragraph: <br>
      <strong>wee-heading--paragraph</strong>
    </span>
  </div>
</div>

<div class="component-variations">
  <span class="wee-heading wee-heading--h500">
    This ia a Description
  </span>
  <div class="separator">
    <p class="wee-heading wee-heading--description">
      Alexander (1893–1920) was King of Greece from 11 June 1917.
    </p>
  </div>
  <div class="wee-callout wee-callout--default">
    <span>
      Use following class to add a Description: <br>
      <strong>wee-heading--description</strong>
    </span>
  </div>
</div>
